.detail {
    text-align: center;
    padding: 20px;
  }

  h1{
    text-align: center;
    margin-top: 5%;
  }
  
  .detail img {
    width: 300px;
    border-radius: 8px;
  }
  
  .detail h2 {
    margin-top: 20px;
  }
  
  .detail ul {
    list-style-type: none;
    padding: 0;
  }
  
  .detail li {
    margin: 5px 0;
  }
  