/* src/components/Navbar.css */

.navbar {
    position: fixed; /* Torna o Navbar fixo */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    background-color: #333;
    padding: 10px 0;
    z-index: 1000; /* Garante que o Navbar fique acima de outros conteúdos */
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  